*
{
    list-style: none;
    text-decoration: none;
    object-fit: cover;
}

html {
    min-height: 100%;
}

a {
    color: $color-link;
}

body
{
    margin: 0;
    font-family: $font-family-body;
}