//menus pages

.menu-page
{
    background: $color-background;
}

.top-img__img { //restaurant image
    height: 15rem;
    width: 100%;
    max-width: 100%;
    @media only screen and (min-width: 768px){
        height: 25rem;
    }
}

.menu {
    position: relative;
    padding: 1rem;
    margin-top: -2.5rem;
    border-radius: ($border-radius + 20px) ($border-radius + 20px) 0 0;
    background: $color-background;
    @media only screen and (min-width: 768px){
        display: flex;
        justify-content: space-around;
        padding: 3rem;
    }
    
    &__title { //restaurant name in Shrikhand
    font-family: $font-family-logo-restaurant;
    font-size: nth($font-size, 4);
    margin: 0.7rem;
    font-weight: 100;
    @media only screen and (min-width:768px) {
        font-size: nth($font-size, 5);
    }
    }
    &__icons { 
        position: relative;
        display: flex;
    }
    &__icon { //heart icon
        @include heart-icon; //heart icons position
        &--mod{
        opacity: 0;
        }
        &--place{
            bottom: 1rem;
        }
        &:hover { 
            @include icon-hover-animation; //heart animation mixin
        }
    }
}

.listmenu //dishes list
{
    padding: 0 1rem 0.5rem 1rem;
    @media only screen and (min-width: 768px) {
        @include display-flex;
        flex-direction: column;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        padding-bottom: 0.5rem;
        
        &::after { //title green bottom border
            content: "";
            position: absolute;
            width: 3rem;
            height: 0.2rem;
            background-color: $color-adjunt-1;
            left: 0;
            bottom: 0;

            @media only screen and (min-width: 768px){
                width: 100%;
            }
        }
    }
}

.item { //dish
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: $border-radius;
    background: $color-block;
    @include box-shadow;
    @include emergence-hover-animation; //dishes emergence animation mixin
    @media only screen and (min-width: 768px) {
        min-width: 40rem;
    }

    &__txt {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        flex: auto;
    }
    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 0 0.5rem 0;
        font-size: nth($font-size, 2);
        font-weight: 500;
    }
    &__paragraphe {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        font-weight: 300;
    }
    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0 1rem 0 0;
        padding-left: 0.3rem;
        &__span {
            margin: 0;
            font-weight: 600;
        }   
    }
    &__div-check { //dish green hide right block
        @include display-flex;
        width: 0;
        background: $color-adjunt-1;
        border-radius: 0 $border-radius $border-radius 0;
        margin: -1rem -1rem -1rem 0;
        transition: ease-in-out 0.5s;    
    }    
    &:hover{ 
        cursor: pointer;
        @include div-check-emergence; // green block emergence & check rotate animation mixin
    }
    &__check { //check icon settings
        @include display-flex;
        opacity: 0;
        color: $color-block;
        font-size: nth($font-size, 5);
        transition: 0.5s;
    }
}

.combutton {
    @include display-flex;

    &__btn {
        @include btn; //button mixin

        &--btn-com{
        padding: 1rem 3rem;
        margin-bottom: 3rem;
        font-size: nth($font-size, 1);
        }
        
        &:hover {
            opacity: 0.8;
            @include box-shadow ($size-shadow, $color-shadow-darker);
        }
    }
}
