.header {
    @include display-flex;
    @include box-shadow;
    text-align: center;
    padding: 1rem;
    position: relative;
   
    &__title-omf
    {
        font-family: $font-family-logo-restaurant;
        margin: 0;
        font-weight: 100;
    }
    &__arrow {
        font-size: 1.5rem;
        position: absolute;
        left: 2rem;
        top: 1.7rem;
    }
}

.footer {
    background-color: $color-footer-background;
    padding: 1rem;

    &__title-omf {
        font-family: $font-family-logo-restaurant;
        color: $color-block;
        font-size: 1.2rem;
        font-weight: 100;
        @media only screen and (min-width: 768px){
            text-align: center;
        }
    }
    &__list {
        padding: 0;
        @media only screen and (min-width: 768px){
            @include display-flex;
        }   
    }
    &__element {
        margin-bottom: 1rem;
        @media only screen and (min-width: 768px){
            margin: 2rem;
        }
    }
    &__icon {
        width: 1rem;
        margin-right: 0.3rem;
        color: $color-block;
    }
    &__link {
        color: $color-block;
    }
}
