.header {
    @include display-flex;
    @include box-shadow;
    text-align: center;
    padding: 1rem;
    position: relative;
    @media only screen and (min-width: 768px){
        padding: 3rem;
    }
   
    &__title-omf //logo ohmyfood
    {
        font-family: $font-family-logo-restaurant;
        margin: 0;
        font-weight: 100;
        @media only screen and (min-width: 768px){
            font-size: nth($font-size, 6);
        }
    }
    &__arrow { //back arrow
        font-size: nth($font-size, 4);
        position: absolute;
        left: 2rem;
        top: 1.7rem;
    }
}

.footer {
    background-color: $color-footer-background;
    padding: 1rem;

    &__title-omf { //logo ohmyfood
        font-family: $font-family-logo-restaurant;
        color: $color-block;
        font-size: nth($font-size, 2);
        font-weight: 100;
        @media only screen and (min-width: 768px){
            text-align: center;
        }
    }
    &__list { //restaurants list
        padding: 0;
        @media only screen and (min-width: 768px){
            @include display-flex;
        }   
    }
    &__element { //block restaurant
        margin-bottom: 1rem;
        @media only screen and (min-width: 768px){
            margin: 2rem;
        }
    }
    &__icon { //icons footer
        width: 1rem;
        margin-right: 0.3rem;
        color: $color-block;
    }
    &__link { //link to restaurant page
        color: $color-block;
    }
}
