.header {
    @include display-flex;
    @include box-shadow;
    text-align: center;
    padding: 1rem;
    position: relative;
   
    &__title-omf
    {
        font-family: 'shrikhand', sans-serif;
        margin: 0;
        font-weight: 100;
    }
    &--arrow {
        font-size: 1.5rem;
        position: absolute;
        left: 2rem;
        top: 1.7rem;
    }
}

.footer {
    background-color: #353535;
    padding: 1rem;

    &__title-omf {
        font-family: 'Shrikhand';
        color: $color-block;
        font-size: 1.2rem;
        font-weight: 100;
    }
    &__list {
        padding: 0;
    }
    &__element {
        margin-bottom: 1rem;   
    }
    &__icon {
        width: 1rem;
        margin-right: 0.3rem;
        color: $color-block;
    }
    &__link {
        color: $color-block;
    }
}
