@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

@import "./utils/variables";
@import "./base/base.scss";

$border-radius: 35px;

@mixin display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

*
{
    list-style: none;
    text-decoration: none;
    object-fit: cover;
}

a {
    color: #000;
}

body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    padding: 1rem;
    position: relative;
   
    &__title-omf
    {
        font-family: 'shrikhand', sans-serif;
        margin: 0;
    }
}

.location {
    @include display-flex;
    flex-direction: row;
    background-color: #eaeaea;
    
    &__icon{

    }
}

.explore {
    @include display-flex;
    background-color: #f6f6f6;
    text-align: center;
    padding: 1rem 1rem 3.5rem 1rem;

    &__title {
    }

    &__paragraphe {
        font-weight: 300;
        margin-bottom: 2rem;
    }

    &__btn {
        background-image: linear-gradient(#e972da, #a45cdc);
        padding: 1rem 2rem;
        color: #fff;
        border-radius: 25px;
    }
}

.guide {
    display: flex;
    flex-direction: column;
    &__list {
        counter-reset: compteListe;
        width: 80%;


    }

    &__element {
        @include box-shadow;
        display: flex;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 25px;
        background-color: #f6f6f6;
        position: relative;
        &::before{
            counter-increment: compteListe;
            content: counter(compteListe) " ";
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.5rem;
            width: 1.5rem;
            left: -1rem;
            margin: 1rem auto;
            background-color: #9356dc;
            color: #fff;
            border-radius: 15px;
            position: absolute;
        }
    }

    &__icon {

    }
}

.etablissements{
    @include display-flex;
    &__title {

    }
}

.restaurants {
    @include display-flex;
    background-color: #f6f6f6
}

.restaurant {
    @include box-shadow;
    width: 85%;
    height: 20%;
    border-radius: $border-radius;
    margin-bottom: 5%;
    position: relative;

    &__img {
        border-radius: $border-radius $border-radius 0 0;
        width: 40rem;
        height: 5rem;
        max-width: 100%;
    }

    &__new {
        background-color: #99E2D0;
        color: #1b6150;
        padding: 0.5rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
    }

    &__pres {

    }

    &__title {

    }

    &__paragraph {

    }

    &__icon {

    }

    &__icon-1 {

    }

    &__icon-2 {

    }
}

.footer {
    background-color: #353535;
    &__tite-omf {

    }

    &__list {

    }

    &__element {

    }

    &__icon {

    }

    &__link {

    }
}


