@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./base/base.scss";

$border-radius: 35px;

@mixin display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

*
{
    text-decoration: none;
    object-fit: cover;
}

a {
    color: #000;
}

body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
   
    &__title-omf
    {
        font-size: 1rem;
    }
}

.explore {
    @include display-flex;

    &__title {
        text-align: center;
    }

    &__paragraphe {
        text-align: center;
    }

    &__link {

    }
}

.location {
    @include display-flex;
    flex-direction: row;
    
    &__icon{

    }
}

.guide {
   @include display-flex;
    &__list {

    }

    &__element {
        @include box-shadow;
    }

    &__icon {

    }
}

.etablissements{
    @include display-flex;
    &__title {

    }
}

.restaurants {
    @include display-flex;
}

.restaurant {
    @include display-flex;
    @include box-shadow;
    width: 85%;
    height: 20%;
    border-radius: $border-radius;
    margin-bottom: 5%;

    &__img {
        border-radius: $border-radius $border-radius 0 0;
        width: 40rem;
        height: 5rem;
        max-width: 100%;
        position: relative;
    }

    &__new {
        position: absolute;
        bottom: 110px;
        right: 50px;
        background-color: #99e2d0;
    }

    &__pres {

    }

    &__title {

    }

    &__paragraph {

    }

    &__icon {

    }

    &__icon-1 {

    }

    &__icon-2 {

    }
}

.footer {
    background-color: #353535;
    &__tite-omf {

    }

    &__list {
        list-style-type: none;
    }

    &__element {

    }

    &__icon {

    }

    &__link {

    }
}


